ul{
	padding-left : 0;
}
ul li{
	list-style : none;
}


.container{
	margin-top : 40px;
	border-radius : 5px;
	border : 1px solid #ccc;
}



#milight-accordion li{
	height : 40px;
	line-height : 40px;
}
#milight-accordion > li{
	margin-top : 2px;
	background-color : #eee;
}
#milight-accordion li:hover{
	cursor : pointer;
	color : white;
}
#milight-accordion > li:hover{
	background-color : #9a9a9a;
}


#milight-accordion .milight-accordion-sub{
	display: none;
}
#milight-accordion .milight-accordion-sub > li{
	background-color: #cbd4d8;
}
#milight-accordion .milight-accordion-sub > li:hover{
	background-color: #98a6ad;
}




@media screen and (max-width:768px){
	#mi-wrapper{
		display: none;
	}
}












